<button id="btnTaquillero" type="button" class="btn btn-primary mb-3 mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal5" {{on "click" this.prueba}} style="display: none;">
    Agregar película
</button>

<div class="modal fade" id="exampleModal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog .modal-fullscreen-sm-down p-4 m-0 m-auto">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel5">Datos de la Ticket</h1>
                <button id="cerrarTaquillero" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" {{on "click" this.cerrarTaquilla}}></button>
            </div>
            <div class="modal-body">
                    <div class="">
                    <h5 class="text-center">SuperCool</h5>

                           <h6>Folio: <span id="folioTicket"></span></h6> 
                        
                        <form id="formularioTaquillero" {{on "submit" this.preventDefaultSubmissionTaquillero}}>

                            <div class="align-items-center  d-flex">
                                <label class="form-label me-2" style="margin-top: 3px;">Fecha: <span id="fechaHoy"></span></label>
                                 
                            </div>
                             <div class="align-items-center  d-flex">
                                <label for="fechaInicio" class="form-label me-2" style="margin-top: 3px;">Película: <span id="idPeliculaTicket"></span></label>
                                 
                            </div>
                             <div class="align-items-center  d-flex" style="gap: 10px;">
                                <label  class="form-label me-2" style="margin-top: 3px;">Sala: <span id="idSalaMovie"></span></label>
                                <label  class="form-label me-2" style="margin-top: 3px;">Horario: <span id="idHorarioMovie"></span></label>
                            </div>

      <div class="mb-3">
                        <label for="nameClient" class="col-form-label">Nombre del cliente:</label>
<div class="pe-5">
    <input type="text" aria-describedby="usernameBlock" class="form-control" id="nameClient" placeholder="Digite el nombre del cliente" {{on "keydown" this.handleInputTaquillero}} {{on "keypress" this.handleInputTaquillero}} />
</div>
      </div>

             <div class="mb-2">
    <div class="row d-flex text-center align-items-center justify-content-center">
        <div class="col-auto">
            <button id="btnRestarAdulto" type="button" class="btn btn-primary btn-sm pe-3 ps-3 texto-agregar" {{on "click" this.restarAdulto}}>-</button>
        </div>
        <div class="col-auto">
            <h6 class="" style="position: relative; top: 15px;">Adultos</h6>
            <label id="numAdultos" class="col-form-label" style="position: relative; top: 5px;">{{this.numAdultos}}</label> <br>
            <label id="precioAdulto" class="col-form-label" style="position: relative; bottom: 10px; "></label>
        </div>
        <div class="col-auto">
            <button id="btnSumarAdulto" type="button" class="btn btn-primary btn-sm pe-3 ps-3 texto-agregar" {{on "click" this.sumarAdulto}}>+</button>
        </div>
    </div>
</div>

<div class="mb-1">
    <div class="row d-flex text-center align-items-center justify-content-center">
        <div class="col-auto">
            <button id="btnRestarNiño" type="button" class="btn btn-primary btn-sm pe-3 ps-3 texto-agregar" {{on "click" this.restarNiño}}>-</button>
        </div>
        <div class="col-auto">
            <h6 class="" style="position: relative; top: 15px;">Niños</h6>
            <label id="numNiños" class="col-form-label" style="position: relative; top: 5px;">{{this.numNiños}}</label> <br>
            <label id="precioNiño" class="col-form-label" style="position: relative; bottom: 10px; "></label>
        </div>
        <div class="col-auto">
            <button id="btnSumarNiño" type="button" class="btn btn-primary btn-sm pe-3 ps-3 texto-agregar" {{on "click" this.sumarNiño}}>+</button>
        </div>
    </div>
</div>


                                

                                  <div class="col-auto me-2 d-flex">
                                    <label class="col-form-label me-3">Boletos: <span id="totalAsientos"></span></label>
                                    <label class="col-form-label">Asientos: <span id="codigoAsientos"></span></label>
                                </div>
                                <div class="col-auto me-2">
                                    <label  class="col-form-label">Total: <span id="totalPrecioTickets"></span></label>
                                </div>

                            <div class="align-items-center mb-3 d-flex">
                           
                            </div>

                        </form>                       
                       
                    </div>
            </div>
            <div class="modal-footer ">
                <button id="cerrarModalTaquillero" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal" {{on "click" this.cerrarTaquilla}}>Cerrar</button>
                <button id="ComprarBoletoTick" type="submit" class="btn btn-success" {{on "click" this.comprar}}>Generar ticket</button>
            </div>
        </div>
    </div>
</div>

  <table class="my-table">
    <thead>
        <tr>
        <th class="text-center" style="width: 180px;">Imagen</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Duración</th>
        <th class="text-center">Precio</th>
        <th class="text-center" style="width: 280px !important;">Horarios</th>
        </tr>
    </thead>

    <tbody>
        {{#each this.paginatedMovies6 as |movie|}}
        <tr>
            <td style="padding: 5px; text-align: center;"><img src="data:image/png;base64,{{movie.bloImagen}}" alt="Imagen de {{movie.strNombre}}" style="width: 170px; height: 220px; " /></td>
            <td style="width: 170px; text-align: center;">{{movie.strNombre}}</td>
            <td style="width: 130px; text-align: justify; text-align: center;">{{movie.intDuracion}} <span style="font-size: 15px;"> min</span></td>
            <td class="text-center" style="width: 130px; text-align: center;">${{movie.precio}}</td>
            <td  style="display:flex; gap:10px; flex-wrap: wrap; padding: 0px 15px;padding-top:15px " >
           {{#each movie.horarios as |horario index|}}
    <button class="btn btn-primary" style="width: 100px ; " type="button" {{on "click" (fn this.showSala movie.idsSala index movie.strNombre horario movie.precio)}}>
        {{horario}}
    </button>
{{/each}}
            </td>
        </tr>
        {{/each}}
    </tbody>
    </table>

<div class="pagination justify-content-center mt-3">
  <button class="btn btn-outline-primary me-2" type="button" {{action "previousPage6"}}>Anterior</button>
  Página {{this.currentPage6}} de {{this.totalPages6}}
  <button class="btn btn-outline-primary ms-2" type="button" {{action "nextPage6"}}>Siguiente</button>
</div>
