<table class="my-table">
  <thead>
    <tr>
      <th>Nombre de Usuario</th>
      <th>Contraseña</th>
      <th>Tipo de Usuario</th>
      <th>Estado</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each @users as |user|}}
      <tr>
        <td>{{user.strNombreUsuario}}</td>
        <td>{{user.strContraseña}}</td>
        <td>{{user.TipoUsuario}}</td>
        <td>{{user.Estado}}</td>
        <td><button class="button-delete" type="button"  {{on "click" this.eliminarUsuario user.id}}>Eliminar</button></td>
        <td><button class="button-update" type="button" >Editar</button></td>
      </tr>
    {{/each}}
    {{log @users}}
  </tbody>
</table>