<button type="button"  class="btn btn-primary mb-3 mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal" >Agregar
    {{@button}}</button>

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-4 m-0 m-auto">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos {{@title}}</h1>
                <button id="cerrar2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="miFormulario">
                    {{#if @user}}
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
<div class="pe-5">
    <input type="text" aria-describedby="usernameBlock" class="form-control" id="recipient-name" placeholder="Digite el nombre del usuario" {{on "keydown" this.handleInput}} {{on "keypress" this.handleInput}} />

</div>
                         <div id="usernameBlock" class="form-text mb-3">
         <p><b>Nota:</b> Para unir palabras utilize <b>( _ )</b></p>
      </div>
                    </div>
                    {{else}}
                     <div class="mb-3">
                        <label for="recipient-movie" class="col-form-label">Nombre:</label>
                        <div class="pe-5"><input type="text" class="form-control" id="recipient-movie" placeholder="Digite el nombre del usuario" />
                        </div>
                      
                    </div>
                    {{/if}}

                    {{#if @user}}
                   
<label for="inputPassword5" class="form-label">Password</label>
<div class="pe-5">
<input type="password" id="inputPassword5" class="form-control mb-3" placeholder="Digite la contraseña" {{on "keydown" this.handleInput}} {{on "keypress" this.handleInput}} />
    </div>
                     
                    <div class="mb-3 d-grid" >
                        <label for="formFile" class="form-label">Tipo de usuario: </label>

                    <select>
                        <option id="opNormal"  value="1" selected>Normal</option>
                        <option id="opAdmin"  value="2">Administrador</option>
                    </select>

                    </div>
                
                    {{else}}
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Sinopsis</label>
                        <textarea class="form-control tamaño" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    <div class="invalid-feedback">
                    Please enter a message in the textarea.
                        </div>
                   
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="number" class="col-form-label">Duracion</label>
                        </div>
                        <div class="col-auto">
                            <input id="number" type="number" class="form-control" aria-describedby="duracion" />
                        </div>
                        <div class="col-auto">
                            <span id="duracion" class="form-text">
                                Minutos
                            </span>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="number2" class="col-form-label">Precio:</label>
                        </div>
                        <div class="col-auto d-flex">
                            <input id="number2" type="number" class="form-control" aria-describedby="precio" />
                            <span class="input-group-text">MX</span>

                        </div>
                    </div>

                 <div class="formulario-div-img formulario-img-centrar mb-3">
    <label  >Imagen</label>
    <img class="formulario-imagen"
        src="https://static-00.iconduck.com/assets.00/user-icon-1024x1024-dtzturco.png" alt="avatar"
        id="cont-imagen" />
<input type="file" name="foto" id="foto-input" accept="image/*" class="formulario-img-quitarbtn" {{on "change" this.changeImage}} />
    <label class="boton-foto-label" for="foto-input">Cambiar foto</label>
</div>

                    <div class="btn-group dropup mb-3">
                        <label for="formFile" class="form-label">Generos: </label>
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Selecciona una opción
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Manzana')">Manzana</a></li>
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Banana')">Banana</a></li>
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Naranja')">Naranja</a></li>
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Uva')">Uva</a></li>
                        </ul>
                    </div>
                    <div class="etiqueta-container" id="tagContainer"></div>

                    {{/if}}

                    <div class="mb-3 d-grid">
                        <label class="form-label">Estado: </label>

                <select >
                    <option id="opActivo"  value="1" selected>{{@state1}}</option>
                    <option id="opInactivo" value="2">{{@state2}}</option>
                </select>

                    </div>

                    <div class="modal-footer ">
                        <button id="cerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button id="enviar" type="submit" class="btn btn-success " {{on "click" this.insertUser}}>{{@send}}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

  <PeopleList @users2={{this.dataStore.actualizarDatos}} />

<script>

var myInput = document.getElementById("inputPassword5");
var myInput2 = document.getElementById('recipient-name');
var optNormal = document.getElementById('opNormal');
var optAdmin = document.getElementById('opAdmin');
var optActivo = document.getElementById('opActivo');
var optInactivo = document.getElementById('opInactivo');
var buttonClose = document.getElementById('cerrar');
var buttonClose2 = document.getElementById('cerrar2');

  document.getElementById('miFormulario').addEventListener('submit', function(event) {
        event.preventDefault();
    });

function handleClick() {
        myInput.value = '';
        myInput2.value = '';
             optNormal.removeAttribute("selected");
        optAdmin.removeAttribute("selected");
        optActivo.removeAttribute("selected");
        optInactivo.removeAttribute("selected");
     optNormal.setAttribute("selected", "selected");
        optActivo.setAttribute("selected", "selected");
   
}

buttonClose.addEventListener('click', handleClick);
buttonClose2.addEventListener('click', handleClick);




    function selectOption(option) {
        const tagContainer = document.getElementById('tagContainer');

        // Crear una nueva etiqueta
        const tag = document.createElement('div');
        tag.classList.add('etiqueta');
        tag.textContent = option;

        // Crear el botón de cierre
        const closeButton = document.createElement('span');
        closeButton.classList.add('etiqueta-close');
        closeButton.textContent = 'x';
        closeButton.addEventListener('click', function () {
            tag.remove();
        });

        // Adjuntar el botón de cierre a la etiqueta
        tag.appendChild(closeButton);

        // Agregar la etiqueta al contenedor
        tagContainer.appendChild(tag);
    }
</script>