<button type="button"  class="btn btn-primary mb-3 mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal" >Agregar usuario</button>

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-4 m-0 m-auto">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del Usuario</h1>
                <button id="cerrar2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" {{on "click" this.removeData}}></button>
            </div>
            <div class="modal-body">
                <form {{on "submit" this.preventDefaultSubmission}}>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
<div class="pe-5">
    <input type="text" aria-describedby="usernameBlock" class="form-control" id="recipient-name" placeholder="Digite el nombre del usuario" {{on "keydown" this.handleInput}} {{on "keypress" this.handleInput}} />
</div>
                         <div id="usernameBlock" class="form-text mb-3">
         <p><b>Nota:</b> Para unir palabras utilize <b>( _ )</b></p>
      </div>
                    </div>
                   
<label for="inputPassword5" class="form-label">Contraseña</label>
<div class="pe-5">
<input type="password" id="inputPassword5" class="form-control mb-3" placeholder="Digite la contraseña" {{on "keydown" this.handleInput}} {{on "keypress" this.handleInput}} />
    </div>
                     
                    <div class="mb-3 d-grid" >
                        <label for="formFile" class="form-label">Tipo de usuario: </label>

                    <select>
                        <option id="opNormal"  value="1" selected>Normal</option>
                        <option id="opAdmin"  value="2">Administrador</option>
                    </select>

                    </div>
                
                   
                    <div class="mb-3 d-grid">
                        <label class="form-label">Estado: </label>

                <select >
                    <option id="opActivo"  value="1" selected>Activo</option>
                    <option id="opInactivo" value="2">Inactivo</option>
                </select>

                    </div>

                    <div class="modal-footer ">
                        <button id="cerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal" {{on "click" this.removeData}}>Cerrar</button>
                        <button id="enviar" type="submit" class="btn btn-success " {{on "click" this.insertUser}}>Crear</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<PeopleList @users2={{this.dataStore.actualizarDatos}} />