<button type="button"  class="btn btn-primary mb-3 mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal" >Agregar
    {{@button}}</button>

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-4 m-0 m-auto">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos {{@title}}</h1>
                <button id="cerrar2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="miFormulario">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <div class="pe-5"><input type="text" aria-describedby="usernameBlock" class="form-control" id="recipient-name" value={{this.strNombreUsuario}}  placeholder="Digite el nombre del usuario" />
                        </div>
                         <div id="usernameBlock" class="form-text mb-3">
         <p id="must2" >El nombre debe cumplir lo siguiente:</p>
        <p id="letter2" class="includ" >Solo se admiten <b>números</b> y <b>letras</b></p>
        <p id="length2" class="includ" >Minimo <b>6 </b>caracteres, maximo <b>20</b></p>
        <p id="capital2" class="includ">Para unir palabras utilize <b>( _ )</b></p>
      </div>
                    </div>

                    {{#if @user}}
                    <label for="inputPassword5" class="form-label">Password</label>
                    <div class="pe-5"><input type="text" id="inputPassword5" class="form-control" 
                        aria-describedby="passwordHelpBlock" value={{this.strContraseña}}  placeholder="Digite la contraseña" ></div>
                        <div id="passwordHelpBlock" class="form-text mb-3">
         <p id="must">La contraseña debe contener lo siguiente:</p>
        <p id="letter" class="invalid">Una letra <b>minuscula </b> y <b>mayuscula</b></p>
        <p id="number" class="invalid">Un <b>numero</b></p>
        <p id="length" class="invalid">Minimo <b>8 </b>caracteres, maximo <b>16</b></p>
        <p id="capital" class="invalid">Un caracter especial <b>( !@#$%*=+-_ )</b></p>
      </div>
                    <div class="wrappeer todos ">
                        <label for="formFile" class="form-label">Tipo de usuario: </label>
                        <input class="todos" type="radio" name="select2" id="option-3" checked value="1">
                        <input class="todos" type="radio" name="select2" id="option-4" value="2">
                        <label for="option-3" class="optionn option-3 todos">
                            <div class="dott todos"></div>
                            <span class="spann todos">Normal</span>
                        </label>
                        <label for="option-4" class="optionn option-4 todos">
                            <div class="dott todos"></div>
                            <span class="spann todos">Administrador</span>
                        </label>

                    </div>
                    <div class="form-text mb-3" id="descripci">
<b>🔒Tiene acceso limitado al sistema🔒</b>                    
</div>
                    {{else}}
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Sinopsis</label>
                        <textarea class="form-control tamaño" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    <div class="invalid-feedback">
                    Please enter a message in the textarea.
                        </div>
                   
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="number" class="col-form-label">Duracion</label>
                        </div>
                        <div class="col-auto">
                            <input id="number" type="number" class="form-control" aria-describedby="duracion" />
                        </div>
                        <div class="col-auto">
                            <span id="duracion" class="form-text">
                                Minutos
                            </span>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="number2" class="col-form-label">Precio:</label>
                        </div>
                        <div class="col-auto d-flex">
                            <span class="input-group-text">$</span>
                            <input id="number2" type="number" class="form-control" aria-describedby="precio" />
                            <span class="input-group-text">$</span>

                        </div>
                        <div class="col-auto">
                            <span id="precio" class="form-text">
                                MX
                            </span>
                        </div>
                    </div>

                    <div class="formulario-div mb-3">
                        <label for="formFile" class="form-label">Imagen</label>
                        <img class="formulario-img"
                            src="https://static-00.iconduck.com/assets.00/user-icon-1024x1024-dtzturco.png" alt="avatar"
                            id="img" />
                        <input type="file" name="foto" id="foto" accept="image/*" />
                        <label for="foto">Cambiar foto</label>
                    </div>

                    <div class="btn-group dropup mb-3">
                        <label for="formFile" class="form-label">Generos: </label>
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Selecciona una opción
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Manzana')">Manzana</a></li>
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Banana')">Banana</a></li>
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Naranja')">Naranja</a></li>
                            <li><a class="dropdown-item" href="#" onclick="selectOption('Uva')">Uva</a></li>
                        </ul>
                    </div>
                    <div class="etiqueta-container" id="tagContainer"></div>

                    {{/if}}

                    <div class="wrappeer todos mb-3">
                        <label for="formFile" class="form-label poAbajo">Estado: </label>
                        <input class="todos" type="radio" name="select" id="option-1" checked value="1">
                        <input class="todos" type="radio" name="select" id="option-2" value="2">
                        <label for="option-1" class="optionn option-1 todos">
                            <div class="dott todos"></div>
                            <span class="spann todos">{{@state1}}</span>
                        </label>
                        <label for="option-2" class="optionn option-2 todos">
                            <div class="dott todos"></div>
                            <span class="spann todos">{{@state2}}</span>
                        </label>
                    </div>

                    <div class="modal-footer">
                        <button id="cerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button id="enviar" type="submit" class="btn btn-success" {{on "click" this.insertUser}} disabled>{{@send}}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

  <PeopleList @users2={{this.dataStore.actualizarDatos}} />

<script>

var myInput = document.getElementById("inputPassword5");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var myInput2 = document.getElementById('recipient-name');
var buttonSend = document.getElementById('enviar');
var buttonClose = document.getElementById('cerrar');
var buttonClose2 = document.getElementById('cerrar2');
var val1 = false, val2 = false, val3 = false, val4 = false, val5 = false;

myInput2.onkeypress = function(e) {
    var chr = String.fromCharCode(e.which);
    if ("1234567890qwertyuiopasdfghjklñzxcvbnmQWERTYUIOPASDFGHJKLÑMNBVCXZ_".indexOf(chr) < 0)
        return false;
};
myInput.onkeypress = function(e){
var chr = String.fromCharCode(e.which);
    if ("1234567890qwertyuiopasdfghjklñzxcvbnmQWERTYUIOPASDFGHJKLÑMNBVCXZ!#$%=+*_-@".indexOf(chr) < 0)
        return false;
};

myInput.addEventListener('keydown', function(event) {

    if (myInput.value.length >= 16) {

    if (event.key === 'Backspace') {
      return; 
    } else {
      event.preventDefault(); // Prevenir la escritura de más caracteres
    }
  }
});

myInput2.addEventListener('keydown', function(event){
    if(myInput2.value.length >=20){
    
    if(event.key === 'Backspace'){
    return;
    }else{
    event.preventDefault();
    }
    }
})

function validarBoton(){
   if(val1 && val2 && val3 && val4 && val5){
    buttonSend.disabled = false;
    }else{
    buttonSend.disabled = true;
    }
}

myInput2.onkeyup = function(){
    if(myInput2.value.length >=6 && myInput2.value.length <=20){
    val5 = true;
    validarBoton();
    }else{
    val5 = false;
    validarBoton();}
}

myInput.onkeyup = function() {
  var lowerCaseLetters = /[a-z]/g;
  var upperCaseLetters = /[A-Z]/g;
  if((myInput.value.match(lowerCaseLetters)) && (myInput.value.match(upperCaseLetters))) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
    val1 = true;
    validarBoton();
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
    val1 = false;
    validarBoton();
  }
  

  
  var upperCaseLetters = /[!@#$%*_=+-]/g;
  var noCaracter = /[<>&:^()'"\s]/g;
  if((myInput.value.match(upperCaseLetters)) && !(myInput.value.match(noCaracter))) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
    val4 = true;
    validarBoton();
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
    val4 = false;
    validarBoton();
  }

  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
    val2 = true;
    validarBoton();
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
    val2 = false;
    validarBoton();
  }
  
  if(myInput.value.length >= 8 && myInput.value.length <= 16) {
    length.classList.remove("invalid");
    length.classList.add("valid");
    val3 = true;
    validarBoton();
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
    val3 = false;
    validarBoton();
  }
}


const normalRadio = document.getElementById("option-3");
const administradorRadio = document.getElementById("option-4");
const estadoUser = document.getElementById("option-1");


function verificarOpcionInicial() {
    if (normalRadio.checked) {
       document.getElementById("descripci").innerHTML='<b>🔒 Tiene acceso limitado al sistema 🔒</b>';    
    }else{
       document.getElementById("descripci").innerHTML='<b>🌟 Tiene control total del sistema 🌟</b>';
    }
}

window.addEventListener("load", verificarOpcionInicial);

 normalRadio.addEventListener("change", function() {
    if (normalRadio.checked) {
       document.getElementById("descripci").innerHTML='<b>🔒 Tiene acceso limitado al sistema 🔒</b>';
    }else{
           document.getElementById("descripci").innerHTML='<b>🌟 Tiene control total del sistema 🌟</b>';
    }
});

administradorRadio.addEventListener("change", function() {
    if (administradorRadio.checked) {
       document.getElementById("descripci").innerHTML='<b>🌟 Tiene control total del sistema 🌟</b>';
    }else{
           document.getElementById("descripci").innerHTML='<b>🔒 Tiene acceso limitado al sistema 🔒</b>';
}
});

  document.getElementById('miFormulario').addEventListener('submit', function(event) {
        event.preventDefault();
        buttonClose.click();
        myInput.value = '';
        myInput2.value = '';
        normalRadio.checked = true;
        estadoUser.checked = true;
        letter.classList.remove("valid");
        letter.classList.add("invalid");
         capital.classList.remove("valid");
        capital.classList.add("invalid");
         number.classList.remove("valid");
        number.classList.add("invalid");
         length.classList.remove("valid");
        length.classList.add("invalid");
           val5 = false;
           val1 = false;
           val2 = false;
           val3 = false;
           val4 = false;
        buttonSend.disabled = true;


    });

function handleClick() {
 myInput.value = '';
        myInput2.value = '';
        normalRadio.checked = true;
        estadoUser.checked = true;
        letter.classList.remove("valid");
        letter.classList.add("invalid");
         capital.classList.remove("valid");
        capital.classList.add("invalid");
         number.classList.remove("valid");
        number.classList.add("invalid");
         length.classList.remove("valid");
        length.classList.add("invalid");
           val5 = false;
           val1 = false;
           val2 = false;
           val3 = false;
           val4 = false;        
           buttonSend.disabled = true;
}

buttonClose.addEventListener('click', handleClick);
buttonClose2.addEventListener('click', handleClick);

    const defaultFile = 'https://static-00.iconduck.com/assets.00/user-icon-1024x1024-dtzturco.png';
    const file = document.getElementById('foto');
    const img = document.getElementById('img');
    file.addEventListener('change', e => {
        if (e.target.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(e.target.files[0])
        } else {
            img.src = defaultFile;
        }
    });


    function selectOption(option) {
        const tagContainer = document.getElementById('tagContainer');

        // Crear una nueva etiqueta
        const tag = document.createElement('div');
        tag.classList.add('etiqueta');
        tag.textContent = option;

        // Crear el botón de cierre
        const closeButton = document.createElement('span');
        closeButton.classList.add('etiqueta-close');
        closeButton.textContent = 'x';
        closeButton.addEventListener('click', function () {
            tag.remove();
        });

        // Adjuntar el botón de cierre a la etiqueta
        tag.appendChild(closeButton);

        // Agregar la etiqueta al contenedor
        tagContainer.appendChild(tag);
    }
</script>